{% extends "auctions/layout.html" %}

{% block body %}
<h2>Add Listings</h2>
<div class="container" action="">
    <div class="row">
 
<div class="container m-5">
    <form action="{% url 'auctions:addlisting'%}" method="POST"  enctype="multipart/form-data" accept-charset="utf-8">
        {%  csrf_token %}
        <fieldset>
            {% for f in form %}
            <div class="col-6 m-3">
                <div>
                {{f.label}}:  {{f}}
                </div>
            </div>

            {%endfor%}
        </fieldset>
        <button type="submit" >Add</button>
    </form>
</div>
{% endblock %}